.img{
    background-image: url(topnavpic.jpeg);
    background-position: center;
    background-size: cover;
    min-height: 280px;
    margin-top:-10px;
}
div.upperbox{
    
    line-height: 220px;
    font-size:46px;
    overflow:hidden;
    
    margin-top:-52px;
    box-shadow:5px 5px 15px 12px;
    
    font-weight: bold;
    color:rgb(0, 156, 21);  
}

div.body{
    background-color:rgb(214, 250, 141);
    max-height: 600px;
    margin-top: -110px;
    box-shadow: 5px 10px 12px 11px;
}
.dataofcustomer{
    width:1000px;
    margin:auto;
    font-size:23px;
    position:relative;
       top:20px;
       left:0px;
}
.dataofcustomer,tr,th{
    border: 20px solid  #4CAF50;
    border-collapse: collapse;
    text-align: left;
}
div.details{
    font-size:50px;
    position:relative;
       top:-180px;
       left:30px;
       color: #4CAF50; /* Green */
       line-height: 100px;
}
.back{
    background-color: #4CAF50; /* Green */
    border: 1px solid;
    border-color:#302d2d;
    color:black;
    font-size: 28px;
    
    position:relative;
       top:-45px;
       left:35px;
}

div.viewuser{
    display:flex;
    flex-direction: column;
    width:4%;
    justify-content: space-between;
    position:relative;
    left:1120px;
    top: -455px;
    grid-row-gap: 27px;
}